button {
	background-color: var(--color-rich-black);
	color: var(--color-baby-powder);
	border: 2px solid var(--color-rich-black);
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.25rem 1rem;
	transition: transform 150ms ease-in;
	transform: scale(1);
}

button:hover {
	cursor: pointer;
	transform: scale(1.04);
	transition: transform 150ms ease-out;
}

button:focus {
	outline: none;
}

button.u-primary-color {
	background-color: var(--color-medium-slate-blue);
	color: var(--color-baby-powder);
}

button.u-secondary {
	background-color: var(--color-baby-powder);
	color: var(--color-rich-black);
}
