.morse_hint {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}

.morse_hint div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-baby-powder);
	color: var(--color-rich-black);
	border: 0.15rem solid var(--color-rich-black);
	width: 200px;
	height: 50px;
}
.morse_hint div.active {
	background-color: var(--color-rich-black);
	color: var(--color-baby-powder);
}