.dot-dash {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.2rem 0.1rem;
}

.dot-dash__span {
	display: inline-block;
}

.dot-dash__span--dot {
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 2rem;
}

.dot-dash__span--dash {
	width: 1rem;
	height: 0.3rem;
	border-radius: 0.15rem;
}

.dot-dash__span--space {
	width: 0.4rem;
	height: 0.3rem;
	margin: 0 0rem;
}

.dot-dash__span--gap {
	margin: 0 0.4rem;
	opacity: 0.2;
}
